---
port_mapping:
  grafana: 3000
  prometheus: 9090
  alertmanager: 9093
  node: 9100
  blackbox: 9115

caddy_update: true

caddy_systemd_capabilities_enabled: true
caddy_systemd_restart_startlimitinterval: 3600
caddy_config: "{{ lookup('template', 'templates/Caddyfile.j2') }}"
