# HELP node_cpu_utilization_percent_threshold The CPU utilization percent which triggers an alert.
# TYPE node_cpu_utilization_percent_threshold gauge
{% for severity, level in node_cpu_utilization_thresholds.items() -%}
node_cpu_utilization_percent_threshold{severity="{{ severity }}"} {{ level }}
{% endfor -%}
